<?xml version="1.0" standalone="yes"?>
<NewDataSet>
  <xs:schema id="NewDataSet" xmlns="" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
    <xs:element name="NewDataSet" msdata:IsDataSet="true" msdata:MainDataTable="Menu" msdata:UseCurrentLocale="true">
      <xs:complexType>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element name="Menu">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="ID" type="xs:int" minOccurs="0" />
                <xs:element name="PMenuID" type="xs:int" minOccurs="0" />
                <xs:element name="Title" type="xs:string" minOccurs="0" />
                <xs:element name="name" type="xs:string" minOccurs="0" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:choice>
      </xs:complexType>
    </xs:element>
  </xs:schema>
  <Menu>
    <ID>1014</ID>
    <PMenuID>-1</PMenuID>
    <Title>系统(&amp;S)</Title>
    <name>tsmiSystem</name>
  </Menu>
  <Menu>
    <ID>1015</ID>
    <PMenuID>1014</PMenuID>
    <Title>登录(&amp;L)</Title>
    <name>tsmiLogin</name>
  </Menu>
  <Menu>
    <ID>1016</ID>
    <PMenuID>1014</PMenuID>
    <Title>注销(&amp;E)</Title>
    <name>tsmiExit</name>
  </Menu>
  <Menu>
    <ID>1017</ID>
    <PMenuID>1014</PMenuID>
    <Title>关闭(&amp;C)</Title>
    <name>tsmiClose</name>
  </Menu>
  <Menu>
    <ID>1018</ID>
    <PMenuID>-1</PMenuID>
    <Title>配置(&amp;C)</Title>
    <name>tsmiConfiguration</name>
  </Menu>
  <Menu>
    <ID>1019</ID>
    <PMenuID>1018</PMenuID>
    <Title>人员(&amp;E)</Title>
    <name>tsmiEmpInfoConfig</name>
  </Menu>
  <Menu>
    <ID>1020</ID>
    <PMenuID>1018</PMenuID>
    <Title>设备(&amp;D)</Title>
    <name>tsmiDeviceConfig</name>
  </Menu>
  <Menu>
    <ID>1021</ID>
    <PMenuID>1018</PMenuID>
    <Title>标识卡(&amp;C)</Title>
    <name>tsmiCodeSenderConfig</name>
  </Menu>
  <Menu>
    <ID>1022</ID>
    <PMenuID>1018</PMenuID>
    <Title>分站(&amp;S)</Title>
    <name>tsmiStationConfig</name>
  </Menu>
  <Menu>
    <ID>1023</ID>
    <PMenuID>1018</PMenuID>
    <Title>区域(&amp;R)</Title>
    <name>tsmiRegionalConfig</name>
  </Menu>
  <Menu>
    <ID>1024</ID>
    <PMenuID>1018</PMenuID>
    <Title>巡检(&amp;I)</Title>
    <name>tsmiInspectionConfig</name>
  </Menu>
  <Menu>
    <ID>1025</ID>
    <PMenuID>1018</PMenuID>
    <Title>图形(&amp;G)</Title>
    <name>tsmiGraphicConfig</name>
  </Menu>
  <Menu>
    <ID>1026</ID>
    <PMenuID>1018</PMenuID>
    <Title>方向性(&amp;D)</Title>
    <name>tsmiDirectionConfig</name>
  </Menu>
  <Menu>
    <ID>1027</ID>
    <PMenuID>1018</PMenuID>
    <Title>考勤(&amp;N)</Title>
    <name>tsmiAttendanceConfig</name>
  </Menu>
  <Menu>
    <ID>1028</ID>
    <PMenuID>1018</PMenuID>
    <Title>权限(&amp;P)</Title>
    <name>tsmiCompetenceConfig</name>
  </Menu>
  <Menu>
    <ID>1029</ID>
    <PMenuID>1018</PMenuID>
    <Title>环网配置(&amp;N)</Title>
    <name>tsmiTcpConfig</name>
  </Menu>
  <Menu>
    <ID>1030</ID>
    <PMenuID>1018</PMenuID>
    <Title>工作异常(&amp;W)</Title>
    <name>tsmiWorkExceptional</name>
  </Menu>
  <Menu>
    <ID>1031</ID>
    <PMenuID>1030</PMenuID>
    <Title>行走异常(&amp;W)</Title>
    <name>tsmiWalkConfig</name>
  </Menu>
  <Menu>
    <ID>1032</ID>
    <PMenuID>1030</PMenuID>
    <Title>异地交接班(&amp;P)</Title>
    <name>tsmiAssociate</name>
  </Menu>
  <Menu>
    <ID>1033</ID>
    <PMenuID>-1</PMenuID>
    <Title>监控(&amp;M)</Title>
    <name>tsmiMonitoring</name>
  </Menu>
  <Menu>
    <ID>1034</ID>
    <PMenuID>1033</PMenuID>
    <Title>下井人员名单(&amp;L)</Title>
    <name>tsmiInMineEmployee</name>
  </Menu>
  <Menu>
    <ID>1035</ID>
    <PMenuID>1033</PMenuID>
    <Title>天线(&amp;A)</Title>
    <name>tsmiAntennaMonitoring</name>
  </Menu>
  <Menu>
    <ID>1036</ID>
    <PMenuID>1033</PMenuID>
    <Title>读卡分站(&amp;H)</Title>
    <name>tsmiStationHeadMonitoring</name>
  </Menu>
  <Menu>
    <ID>1037</ID>
    <PMenuID>1033</PMenuID>
    <Title>标识卡(&amp;C)</Title>
    <name>tsmiCodeSenderMonitoring</name>
  </Menu>
  <Menu>
    <ID>1038</ID>
    <PMenuID>1033</PMenuID>
    <Title>下井人员(&amp;W)</Title>
    <name>tsmiInMineEmpMonitoring</name>
  </Menu>
  <Menu>
    <ID>1039</ID>
    <PMenuID>1033</PMenuID>
    <Title>区域(&amp;I)</Title>
    <name>tsmiRegionalMonitoring</name>
  </Menu>
  <Menu>
    <ID>1040</ID>
    <PMenuID>1033</PMenuID>
    <Title>巡检(&amp;N)</Title>
    <name>tsmiInspectionMonitoring</name>
  </Menu>
  <Menu>
    <ID>1041</ID>
    <PMenuID>1033</PMenuID>
    <Title>图形(&amp;R)</Title>
    <name>tsmiGraphicMonitoring</name>
  </Menu>
  <Menu>
    <ID>1042</ID>
    <PMenuID>-1</PMenuID>
    <Title>查询(&amp;E)</Title>
    <name>tsmiEnquiries</name>
  </Menu>
  <Menu>
    <ID>1043</ID>
    <PMenuID>1042</PMenuID>
    <Title>分站配置信息(&amp;S)</Title>
    <name>tsmiStationConfigInfo</name>
  </Menu>
  <Menu>
    <ID>1044</ID>
    <PMenuID>1042</PMenuID>
    <Title>天线(&amp;N)</Title>
    <name>tsmiAntennaEnquiries</name>
  </Menu>
  <Menu>
    <ID>1045</ID>
    <PMenuID>1042</PMenuID>
    <Title>读卡分站(&amp;I)</Title>
    <name>tsmiStationHeadEnquiries</name>
  </Menu>
  <Menu>
    <ID>1046</ID>
    <PMenuID>1042</PMenuID>
    <Title>下井人员(&amp;M)</Title>
    <name>tsmiInMineEmpEnquiries</name>
  </Menu>
  <Menu>
    <ID>1047</ID>
    <PMenuID>1042</PMenuID>
    <Title>区域(&amp;E)</Title>
    <name>tsmiRegionalEnquiries</name>
  </Menu>
  <Menu>
    <ID>1048</ID>
    <PMenuID>1042</PMenuID>
    <Title>巡检(&amp;P)</Title>
    <name>tsmiInspectionEnquiries</name>
  </Menu>
  <Menu>
    <ID>1049</ID>
    <PMenuID>1042</PMenuID>
    <Title>下井次数(&amp;W))</Title>
    <name>tsmiInWellCountsEnquiries</name>
  </Menu>
  <Menu>
    <ID>1050</ID>
    <PMenuID>1042</PMenuID>
    <Title>历史报警(&amp;A)</Title>
    <name>tsmiHisAlarmEnquiries</name>
  </Menu>
  <Menu>
    <ID>1051</ID>
    <PMenuID>1042</PMenuID>
    <Title>历史异地交接班信息(&amp;J)</Title>
    <name>tsmiHistroryAssociate</name>
  </Menu>
  <Menu>
    <ID>1052</ID>
    <PMenuID>-1</PMenuID>
    <Title>报表(&amp;T)</Title>
    <name>tsmiStatements</name>
  </Menu>
  <Menu>
    <ID>1053</ID>
    <PMenuID>1052</PMenuID>
    <Title>日下井行进路线(&amp;L)</Title>
    <name>tsmiInMineLine</name>
  </Menu>
  <Menu>
    <ID>1054</ID>
    <PMenuID>1052</PMenuID>
    <Title>月下井次数(&amp;M)</Title>
    <name>tsmiInMineCounts</name>
  </Menu>
  <Menu>
    <ID>1055</ID>
    <PMenuID>1052</PMenuID>
    <Title>下井人员统计(&amp;I)</Title>
    <name>tsmiEmpInWell</name>
  </Menu>
  <Menu>
    <ID>1056</ID>
    <PMenuID>1052</PMenuID>
    <Title>重点区域人员统计(&amp;K)</Title>
    <name>tsmiKeyAreaEmpStatistics</name>
  </Menu>
  <Menu>
    <ID>1057</ID>
    <PMenuID>1052</PMenuID>
    <Title>限制区域报警人员统计(&amp;C)</Title>
    <name>tsmiConfineAreaEmpStatistics</name>
  </Menu>
  <Menu>
    <ID>1058</ID>
    <PMenuID>1052</PMenuID>
    <Title>超时报警人员统计(&amp;O)</Title>
    <name>tsmiOverTimeEmpStatistics</name>
  </Menu>
  <Menu>
    <ID>1059</ID>
    <PMenuID>1052</PMenuID>
    <Title>特殊作业人员统计(&amp;A)</Title>
    <name>tsmiPathStatistics</name>
  </Menu>
  <Menu>
    <ID>1060</ID>
    <PMenuID>1052</PMenuID>
    <Title>领导干部月下井统计(&amp;L)</Title>
    <name>tsmiLeadershipStatistics</name>
  </Menu>
  <Menu>
    <ID>1061</ID>
    <PMenuID>-1</PMenuID>
    <Title>考勤(&amp;A)</Title>
    <name>tsmiAttendance</name>
  </Menu>
  <Menu>
    <ID>1062</ID>
    <PMenuID>1061</PMenuID>
    <Title>考勤明细(&amp;M)</Title>
    <name>tsmiAttendanceParticulars</name>
  </Menu>
  <Menu>
    <ID>1063</ID>
    <PMenuID>1061</PMenuID>
    <Title>考勤统计(&amp;D)</Title>
    <name>tsmiAttendanceStatistics</name>
  </Menu>
  <Menu>
    <ID>1064</ID>
    <PMenuID>1061</PMenuID>
    <Title>考勤原始数据(&amp;Y)</Title>
    <name>tsmiAttendanceInitialData</name>
  </Menu>
  <Menu>
    <ID>1065</ID>
    <PMenuID>1061</PMenuID>
    <Title>部门日考勤统计(&amp;Z)</Title>
    <name>tsmiAttendanceDayByDayStatistic</name>
  </Menu>
  <Menu>
    <ID>1066</ID>
    <PMenuID>1061</PMenuID>
    <Title>部门员工出勤率统计(&amp;S)</Title>
    <name>tsmiAttendanceDeptEmpStatistics</name>
  </Menu>
  <Menu>
    <ID>1067</ID>
    <PMenuID>1061</PMenuID>
    <Title>部门干部下井统计(&amp;M)</Title>
    <name>tsmiDeptCadresInMineStatistics</name>
  </Menu>
  <Menu>
    <ID>1068</ID>
    <PMenuID>1061</PMenuID>
    <Title>假别设置(&amp;T)</Title>
    <name>tsmiHolidayClass</name>
  </Menu>
  <Menu>
    <ID>1069</ID>
    <PMenuID>1061</PMenuID>
    <Title>请假管理(&amp;L)</Title>
    <name>tsmiHolidayManage</name>
  </Menu>
  <Menu>
    <ID>1070</ID>
    <PMenuID>1061</PMenuID>
    <Title>实时补单(&amp;R)</Title>
    <name>tsmiRealTimeAdd</name>
  </Menu>
  <Menu>
    <ID>1071</ID>
    <PMenuID>1061</PMenuID>
    <Title>历史补单(&amp;H)</Title>
    <name>tsmiAddHistoryAttendance</name>
  </Menu>
  <Menu>
    <ID>1072</ID>
    <PMenuID>-1</PMenuID>
    <Title>工具(&amp;T)</Title>
    <name>tsmiTools</name>
  </Menu>
  <Menu>
    <ID>1073</ID>
    <PMenuID>1072</PMenuID>
    <Title>系统配置(&amp;F)</Title>
    <name>tsmiSystemConfigurationTools</name>
  </Menu>
  <Menu>
    <ID>1074</ID>
    <PMenuID>1072</PMenuID>
    <Title>日志查看(&amp;L)</Title>
    <name>tsmiLogViewTools</name>
  </Menu>
  <Menu>
    <ID>1075</ID>
    <PMenuID>1072</PMenuID>
    <Title>删除历史数据(&amp;D)</Title>
    <name>tsmideleteHisData</name>
  </Menu>
  <Menu>
    <ID>1076</ID>
    <PMenuID>1072</PMenuID>
    <Title>备份还原(&amp;B)</Title>
    <name>tsmiBackupTools</name>
  </Menu>
  <Menu>
    <ID>1077</ID>
    <PMenuID>1072</PMenuID>
    <Title>导入导出(&amp;E)</Title>
    <name>tsmiExcelTools</name>
  </Menu>
  <Menu>
    <ID>1078</ID>
    <PMenuID>1072</PMenuID>
    <Title>选项(&amp;O)</Title>
    <name>tsmiOptionsTools</name>
  </Menu>
  <Menu>
    <ID>1079</ID>
    <PMenuID>1072</PMenuID>
    <Title>报警选项(&amp;S)</Title>
    <name>tsmiAlertOption</name>
  </Menu>
  <Menu>
    <ID>1080</ID>
    <PMenuID>1072</PMenuID>
    <Title>定时打印设置(&amp;P)</Title>
    <name>tsmiPrint</name>
  </Menu>
  <Menu>
    <ID>1081</ID>
    <PMenuID>-1</PMenuID>
    <Title>帮助(&amp;H)</Title>
    <name>tsmiHelp</name>
  </Menu>
  <Menu>
    <ID>1082</ID>
    <PMenuID>1081</PMenuID>
    <Title>帮助文档(&amp;D)</Title>
    <name>tsmiHelpDocuments</name>
  </Menu>
  <Menu>
    <ID>1083</ID>
    <PMenuID>1081</PMenuID>
    <Title>视频教程(&amp;V)</Title>
    <name>tsmiHelpVideo</name>
  </Menu>
  <Menu>
    <ID>1084</ID>
    <PMenuID>1081</PMenuID>
    <Title>关于(&amp;A)</Title>
    <name>关于ToolStripMenuItem</name>
  </Menu>
</NewDataSet>