<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="server=.;database=KJ128N;uid=sa;pwd=sa;Connection Timeout=2" />
    <add key="DAL" value="Shine.SqlServerDAL" />
    <add key="CachePrefix" value="Shine.s" />
    <add key="color" value="17" />
    <add key="Server" value ="."/>
    <add key="database" value ="KJ128N"/>
    <add key="uid" value ="sa"/>
    <add key="pwd" value ="sa"/>
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />
    <add key="StartTime" value="" />
    <add key="StartKey" value="" />
    <!-- 是否启用可修改用户编号 0-可修改，1-不可修改-->
    <add key="IsUpdateUserNo" value="0" />
  </appSettings>
  <system.windows.forms jitDebugging="true"/>
</configuration>
