<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="connectionString" value="server=.;database=kj128n;uid=sa;pwd=sa"/>
  </appSettings>
  <connectionStrings>
    <add name="connectionString" connectionString="server=.;database=kj128n;uid=sa;pwd=sa"/>
  </connectionStrings>
</configuration>