<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="ConnectionString" value="server=.;database=KJ128N;uid=sa;pwd=sa;Connection Timeout=2" />
    <add key="DAL" value="Shine.SqlServerDAL" />
    <add key="CachePrefix" value="Shine.s" />
    <add key="color" value="17" />
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />
  </appSettings>
</configuration>